@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h2> Edit your article using out find and replace application. </h2>
<form action="/addArticle" method="post">
  <div class="form-group">
    <label for="article">Article</label>
    <input name="article" value="" type="text">
  </div>
  <button type="submit">Add</button>
</form>
</div>
